<html>
<head> 
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8"/>
    <title>Sourrires Burkinab'Hei | Ajouter Photos</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script src="../../js/ajouterphoto.js"></script>
    <link rel="shortcut icon" href="../../img/logo.ico"> </link>
</head> 
<body class="body"> 
    <header>
    <div class="bandeau">
    <a href="Accueil.html"><img id="logo" src="../../img/logo.gif"></a>
    <h1>Sourrires Burkinab'Hei</h1>
    <a href="Accueil.html" class="sedeco"> Se déconnecter </a>
    <a href="Photo.html" class="ongletshauts">Photos</a>
    <a href="Newsletter.html" class="ongletshauts">Newsletter</a>
    <a href="" class="ongletshauts">Article</a>
    </div>
    </header>
    <div class="BD">
    <ul>
        <li>
            <a href="Accueil.html"><div>Accueil</div></a>
        </li> 
        <li> 
            <a href="Association.html"><div>Association</div></a> 
        </li> 
        <li> 
            <a href="Partenariat.html"><div>Partenaires</div></a>       
        </li> 
        <li> 
            <a href="Dons.hml"><div>Plateformes de dons</div></a>             
        </li>
        <li> 
            <a href="ProjetsRéalisés.html"><div>Projets Réalisés</div></a>
        </li> 
        <li> 
            <a href="Galerie.html"><div>Galerie</div></a>
        </li> 
    </ul>
    </div>
    <aside id="aside-photo" class="aside-photo">
            <h2 class="titre">Ajouter un membre :</h2>
         <section class="section-photo">
            <div>
            <label class="ajoutphoto">Nom : </label>
            <input type="text" name="nomMembre" size="30" maxlength="30"/>
            </div>
             <div>
            <label class="ajoutphoto">Poste : </label>
             <input type="text" name="poste" size="30" maxlength="30"/>
            </div>
            <div>
            <label class="ajoutphoto">Description : </label>
            <textarea name="descr" id="descr"></textarea>
            </div>
            <div>
            <label class="ajoutphoto">Photo : </label>
            <input class="inputlogo" type="file" name="photomb" id="photomb" size="40">
            </div>


            <input class="publier" type="submit" value="Ajouter">

            </div>
        </section>
    </aside> 
    

</body>
</html>