<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8"/>
    <title>Sourrires Burkinab'Hei | Log-In </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/afficher_cacher.js"></script>
    <link rel="shortcut icon" href="img/logo.ico"> </link>
</head>
<body class="body">
    <header>
    <div class="bandeau">
    <a href="Accueil.html"><img id="logo" src="img/logo.gif"></a>
    <h1 class="titreP">Sourrires Burkinab'Hei</h1>
    <a href=""><img class="mail" src="img/mail.png"></a>
    <a href="https://www.facebook.com/profile.php?id=100010262799643&fref=ts" target="_blank"><img id="facebook" src="img/facebook.png">
    <a href="Log-in.html"><img id="admin" src="img/admin.gif"></a>
    </div>
    </header>
    <article class="formulaire">
    <fieldset>
    <legend>Connexion</legend>
    <form>
    	<div class="ss">
    	<label class="identifiant">Identifiant :</label>
    	<input class="connexion" type="text" name="password" class="id">
    	</div>
    	<div>
    	<label>Mot de passe :</label>
    	<input class="connexion" type="password" name="password">
     	<INPUT class="com" TYPE="submit" NAME="nom" VALUE="Connexion">
    </form>
	</fieldset>
	</article>
</body>
</html>